
# This file specifies server-script configuration for this project
# If you cannot see secrets.cson in Atom, click on the treeview and press the letter i

server:
  location: 'hydra'
  projectRoot: '/usr/people/smerlak/src/ipt'
  # login info is kept in secrets.cson

options:
  syncChangedFiles: yes
  scriptOnRun:  ''
  scriptOnSave: ''
  useGitignore: yes
  logToConsole: yes
